# Node env specify development or production where applicable
NODE_ENV = 'development'
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DATABASE=''
POSTGRES_PORT=
POSTGRES_HOST=''



REDIS_HOST=''
REDIS_PORT=
REDIS_USERNAME=''
REDIS_PASSWORD=''